<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" 
        content="text/html; charset=utf=8">
        <title> Welcome to Finder! </title>
        <link type="text/css" rel="stylesheet" href="pagestyle.css"/>
    </head>
    
    <body>
        <nav class="container">
            <h1 id="navname"><a href="page.erb">Finder!</a></h1>
            <ul>
                <li id="navlist"><a href="index.erb">Home</a></li>
                <li id="navlist"><a href="about.erb">About</a></li>
                <li id="navlist"><a href="https://likelion.net">likeLion</a></li>
                <li id="navlist"><a href="https://www.ucla.edu">UCLA</a></li>
            </ul>
        </nav>

    <div class="container">
        <h1 style="font-family: Cursive">This is Finder! You can find something about yourself with Finder.</h1><br>
    <div class="aboutpic">
        <img id="dennis" style="padding-left: 20px" onclick="location.href = 'https://www.facebook.com/dennis.yt.cha';" src="/images/dennis.JPG" alt="fbdennis">
        <br>Dennis Cha</br>
    </div>
    <div class="aboutpic">
        <img id="yongbum" onclick="location.href = 'https://www.facebook.com/yongbum.yoo';" src="/images/yb.jpg" alt="fbyb">
        <br>Yong Bum Yoo</br>
    </div>
    <div class="aboutpic">
        <img id="green" onclick="location.href = 'https://www.facebook.com/green.yim';" src="/images/yg.JPG" alt="fbyg">
        <br>Green Yim</br>
</body>
</html>