<form action="form" method="GET">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <label for="fresh_fried">fresh_fried: </label>
    <input type="int" name="fresh_fried">
    <br/>
    <label for="thickness">thickness: </label>
    <input type="double" name="thickness">
    <br/>
    <label for="soup">soup: </label>
    <input type="int" name="soup">
    <br/>
    <label for="salt">salt: </label>
    <input type="int" name="salt">
    <br/>
    <label for="norm_special">norm_special: </label>
    <input type="int" name="norm_special">
    <br/>
    <label for="spiceLevel">spiceLevel: </label>
    <input type="double" name="spiceLevel">
    <br/>
    <label for="oil">oil: </label>
    <input type="int" name="oil">
    <br/>
    <label for="cold_hot">cold_hot: </label>
    <input type="int" name="cold_hot">
    <br/>
</form>